### 1. Given a list of integers, remove all occurrences of a specific value using a list method.

In [3]:
lis=[4,5,6,7,8]
lis.remove(5)
print(lis)

[4, 6, 7, 8]

### 2. Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [5]:
l1 = ['game', 'over']
str = ' '.join(l1)
print(str)

game over

### 3. Reverse a list of integers using a built-in list method.

In [7]:
l2=[5,4,3,2,1]
l2.reverse()
print(l2)

[1, 2, 3, 4, 5]

### 4. Sort a list of numbers in descending order using a built-in list method.

In [9]:
l3=[4,6,2,3,1]
l3.sort(reverse=True)
print(l3)

[6, 4, 3, 2, 1]

### 5. Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [11]:
lis1=[5,4,3,2,1]
lis2=[9,7,5,3,1]
lis3=list(set(lis1+lis2))
print(lis3)

[1, 2, 3, 4, 5, 7, 9]

### 6. Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [13]:
t=(2,4,6,8,0)
print(type(t))

list1=list(t)
print(type(list1))
list1[1:-1]

<class 'tuple'>
<class 'list'>

[4, 6, 8]

### 7. Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking.

In [17]:
t_lst = [(100, 'a'), (200, 'b'), (300, 'c')]
final_lis = list(map(lambda x: x[0], t_lst))
print(final_lis)

[100, 200, 300]

### 8. Combine two tuples into a single tuple.

In [19]:
t1=(2,4,6,8)
t2=(1,2,3,4)
t3=tuple(t1+t2)
print(t3)

(2, 4, 6, 8, 1, 2, 3, 4)

### 9. Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [21]:
t4=(2,4,6,8)
print("maximum number from tuple t4 =", max(t4))
print("minimum number from tuple t4 =", min(t4))

maximum number from tuple t4 = 8
minimum number from tuple t4 = 2

### 10. Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [23]:
t5=("game", "over", "guys")
T6=', ' .join(t5)
print(T6)

game, over, guys

### 11. Given two sets, return the union of the two sets using a set operation.

In [47]:
s1={2,4,6,8,5,6,7}
s2={2,4,6,8,9,7,5}
s3=s1.union(s2)
print(s3)

{2, 4, 5, 6, 7, 8, 9}

### 12. Find the intersection of two sets using a set method.

In [50]:
s4=s1.intersection(s2)
print(s4)

{2, 4, 5, 6, 7, 8}

### 13. Remove all elements from one set that are also present in another set using a set method.

In [57]:
s1={2,4,6,8,5,6,7,84}
s5=s1.difference_update(s2)
print(s5)

None

### 14. Find the difference between two sets using a set method.

In [60]:
s6=s1.difference(s2)
print(s6)

{84}

### 15. Convert a list of integers into a set and then back to a list to remove duplicates, using set operations.

In [63]:
lis11 = [1, 2, 2, 3, 4, 4, 5]
set1 = set(lis11)
unique_list = list(set1)
print(unique_list)

[1, 2, 3, 4, 5]

### 16. Merge two dictionaries into a single dictionary using a dictionary method.

In [65]:
dic1={"Name":"Gaurav", "Age":22, "Branch":"Cse"}
dic2={"Address":"Jaipur", "Gender":"Male", "E-mail":"ram@gmail.com"}
dic3={**dic1,**dic2}
print(dic3)

{'Name': 'Gaurav', 'Age': 22, 'Branch': 'Cse', 'Address': 'Jaipur', 'Gender': 'Male', 'E-mail': 'ram@gmail.com'}

### 17. Extract all values from a dictionary into a list using a dictionary method.

In [68]:
dic4=list(dic3.values())
print(dic4)

['Gaurav', 22, 'Cse', 'Jaipur', 'Male', 'ram@gmail.com']